{% extends 'users/base.html' %}
{% block content %}

    <h3>Beck's Depression Inventory</h3>

    <form method="POST" id="bdi_test">
        {% csrf_token %}
        {% for question in questions %}

            <article class="media content-section">
                <div class="form-group" style="padding-bottom: 9px; padding-top: 9px; font-size: 18px ">

                    <div class="form-group">
                        {{question }}.
                    </div>

                    <div class="form-check" style="padding-left: 30px">
                        {% for answer in answers %}
                            {% if answer.question_id == question %}

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Question : {{ question }}"
                                       id="{{ answer.question_id }}"
                                       value="{{ answer.answer_point }}" required>
                                <label class="form-check-label text-nowrap" for="inlineRadio1">{{ answer.answer_text }}</label>
                            </div>
                             {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </article>
        {% endfor %}


        <button type="submit" class="btn btn-primary">Submit</button>


    </form>

{% endblock content %}
